.DS_Store
Lectures/BennyLecture.txt
.git_Cmds.swp
Lectures/SelectingModels_Sara.txt
classifier/__pycache__/dataset.cpython-38.pyc
classifier/__pycache__/*.pyc
Lectures/EliLecture.txt
command_lines.txt
Lectures/OfflineEvaluationandModelAnalysis_Sara.txt
Lectures/BennyLectureImproveResults.txt
classifier/experiments/*
Lectures/EfficientModelsSpeedvAccuracy.txt
Lectures/*
data_processing/*
HW_assignment
Lectures
datadrive/vmData/weather/experiments/exp_resnet50_2classes_None/runs
datadrive/vmData/weather/experiments/exp_resnet50_2classes_seq6hr/runs
datadrive/vmData/weather/experiments/exp_resnet50_2classes_seq12hr/runs
datadrive/vmData/weather/experiments/exp_resnet50_2classes_seq24hr/runs
datadrive/vmData/weather/experiments/exp_resnet50_2classes_seqSliding/runs

Lectures/ServingHostingDeployingModels.txt

snowpoles/src/__pycache__/*.pyc

snowpoles_ViT/__pycache__/*.pyc
snowpoles_ViT/model.pth
snowpoles_ViT/predictions_last5epochs.png
snowpoles_ViT/snowdepth_vit.pt
snowpoles_ViT/test_image_predicted.jpg
snowpoles_ViT/loss.png



