.DS_Store
Lectures/BennyLecture.txt
.git_Cmds.swp
Lectures/SelectingModels_Sara.txt
classifier/__pycache__/dataset.cpython-38.pyc
classifier/__pycache__/*.pyc
Lectures/EliLecture.txt
command_lines.txt
Lectures/OfflineEvaluationandModelAnalysis_Sara.txt
Lectures/BennyLectureImproveResults.txt
classifier/experiments/*
Lectures/BjornLecture.txt
Lectures/TarunLecture.txt
Lectures/DataAblationEli.txt
Lectures/EfficientModelsSpeedvAccuracy.txt
Lectures/*


datadrive/vmData/weather/experiments/exp_resnet50_2classes_None/runs
datadrive/vmData/weather/experiments/exp_resnet50_2classes_seq6hr/runs
datadrive/vmData/weather/experiments/exp_resnet50_2classes_seq12hr/runs
datadrive/vmData/weather/experiments/exp_resnet50_2classes_seq24hr/runs
datadrive/vmData/weather/experiments/exp_resnet50_2classes_seqSliding/runs

Lectures/ServingHostingDeployingModels.txt

snowpoles/src/__pycache__/*.pyc
